Primary energy
Cyan: #2FE1FF
Blue: #2D6BFF
Magenta: #FF3FD2
Violet blend: #7A5CFF
Backgrounds
Absolute black: #040507
Panel: #0A0D12
Raised: #10141C
Signal colors
Success: #00FF9C
Error: #FF2056
Warning: #FFB020